<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="IProgram" value="Mmj.OS.Program,Mmj.OS.Windows" />
		<add key="IConnectionManagerFactory" value="Mmj.OS.ConnectionManagerFactory,Mmj.OS.Windows" />
		<add key="IStartupParameters" value="Mmj.OS.StartupParameters,Mmj.OS.Windows" />
		<add key="ILogger" value="Mmj.OS.Logger,Mmj.OS.Windows" />
	</appSettings>
</configuration>