<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="IProgram" value="MonoMultiJack.OS.Program,MonoMultiJack.OS.Windows" />
		<add key="IConnectionManagerFactory" value="MonoMultiJack.OS.ConnectionManagerFactory,MonoMultiJack.OS.Windows" />
		<add key="IStartupParameters" value="MonoMultiJack.OS.StartupParameters,MonoMultiJack.OS.Windows" />
	</appSettings>
</configuration>