<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Mono.Cairo" publicKeyToken="0738EB9F132ED756" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="IProgram" value="MonoMultiJack.OS.Program,MonoMultiJack.OS.Linux" />
		<add key="IConnectionManagerFactory" value="MonoMultiJack.OS.ConnectionManagerFactory,MonoMultiJack.OS.Linux" />
		<add key="IStartupParameters" value="MonoMultiJack.OS.StartupParameters,MonoMultiJack.OS.Linux" />
		<add key="ILogger" value="MonoMultiJack.OS.Logger,MonoMultiJack.OS.Linux" />
	</appSettings>
	<dllmap dll="libasound">
		<dllentry os="!windows" dll="libasound.so.2" />
	</dllmap>
	<dllmap dll="libjack">
		<dllentry os="!windows,osx" dll="libjack.so.0" />
		<dllentry os="osx" dll="libjack.0.dylib" />
		<dllentry os="windows" dll="libjack.dll" />
	</dllmap>
</configuration>