<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Mono.Cairo" publicKeyToken="0738EB9F132ED756" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <appSettings>
    <add key="IProgramImplementation" value="MonoMultiJack.OS.Linux.Program,MonoMultiJack.OS.Linux"/>
    <add key="IConnectionManagerFactoryImplementation" value="MonoMultiJack.OS.Linux.ConnectionManagerFactory,MonoMultiJack.OS.Linux"/>
  </appSettings>
</configuration>
