<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="MonoMultiJack" Language="1033" Version="0.6.0" Manufacturer="Residuum" UpgradeCode="50873603-bcd3-437f-a32d-e61544e0f600">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <Media Id="1" Cabinet="Sample.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="MonoMultiJack" />
    
    <Icon Id="icon.ico" SourceFile="program.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="small.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="large.bmp" />
   
    <Feature Id="ProductFeature" Title="MonoMultiJack" Level="1">
      <ComponentRef Id="monomultijack.exe" />
      <ComponentRef Id="monomultijack.exe.config" />
      <ComponentRef Id="dll_mmj_configuration" />
      <ComponentRef Id="dll_mmj_connectionwrapper" />
      <ComponentRef Id="dll_mmj_connectionwrapper_jack" />
      <ComponentRef Id="dll_mmj_mvc" />
      <ComponentRef Id="dll_mmj_os" />
      <ComponentRef Id="dll_mmj_os_windows" />
      <ComponentRef Id="dll_xwt" />
      <ComponentRef Id="dll_xwt_wpf" />
      <ComponentRef Id="dll_nlog" />
      <ComponentRef Id="dll_ngettext" />
      <ComponentRef Id="mo_de" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    
    <Property Id="WIXUI_INSTALLDIR" Value="dir_monomultijack"/>

    <UI Id="WixUI_Mondo_Custom">

      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <DialogRef Id="JackdTestDlg" />

      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="DoAction" Value="CheckJack" Order="3">LicenseAccepted = "1"</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="JackdTestDlg" Order="2">LicenseAccepted = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="JackdTestDlg">1</Publish>

    </UI>
    
  </Product>
  
</Wix>